/* INTRO VIEW */
/******************************************/
#intro-view {
  border-top: 2px solid #000;
}

#intro-view h1 {
  padding: 16px 0 46px 0;
  font-size: 3.2em;
  line-height: 1.1em;
}

#intro-view .text {
  padding: 10px 0 50px 0;
  border-bottom: 2px solid #000;
}

#intro-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* ABOUT VIEW */
/******************************************/
#about-view {
  margin-top: 46px;
}

#about-view .table {
  padding-top: 38px;
}

#about-view table {
  padding: 38px 0 0 0;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#about-view th {
  padding: 8px 0 12px 0;
  font-size: 1.6em;
  font-weight: normal;
}

#about-view tr {
  display: table-row;
  margin: initial;
}

#about-view td {
  width: 50%;
  padding: 8px 0;
  border-top: 2px solid #000;
  vertical-align: top;
}

#about-view td:first-child {
  width: 30%;
}

#about-view td:nth-child(4n) {
  width: 70%;
}

/* JOURNAL VIEW */
/******************************************/
#journal-view {
  padding-top: 74px;
}

#journal-view h1 {
  padding: 16px 0 46px 0;
  border-top: 2px solid #000;
  font-size: 1.6em;
  line-height: 1.1em;
}

#journal-view .journal-post {
  font-size: 1em;
  color: #979BA0;
}

#journal-view .journal-post h1 {
  padding: 4px 0;
  border: none;
  font-size: 1em;
  color: #000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #intro-view h1 {
    font-size: 7.2em;  
    line-height: 1em;
  }

  #journal-view h1 {
    font-size: 1.7em;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #about-view .tables {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;    
  }

  #about-view .table {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}