/* ART CENTRES NAV VIEW */
/******************************************/
#art-centres-nav-view {
  height: 44px;
  line-height: 44px;
  background: #E4E6E9;
}

#art-centres-nav-view .title {
  display: inline-block;
}

#art-centres-nav-view .filters {
  float: right;
}

#art-centres-nav-view .filters li {
  display: inline-block;
  padding: 0 14px;
}

#art-centres-nav-view .filters li:last-child {
  padding-right: 0;
}

/* ART CENTRES INDEX VIEW */
/******************************************/
#art-centre-index-view {
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 52px;
}

#art-centre-index-view .title {
  padding: 0 0 32px 0;
}

#art-centre-index-view .title h1 {
  color: #000;
  font-size: 1.8em;
  line-height: 1.1em;
}

#art-centre-index-view .image-holder {
  position: relative;
}

#art-centre-index-view .image-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F0A693;
  background-blend-mode: multiply;  
}

#art-centre-index-view img {
  max-width: 100%;
}

#art-centre-index-view a:hover .image-overlay {
  display: block;
}

#art-centre-index-view ul {
  display: flex;
  flex-wrap: wrap;  
  margin: 0 -5px;
}

#art-centre-index-view li {
  width: 50%;
  padding: 0 5px 22px 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

#art-centre-index-view .image-holder {
  overflow: hidden;
  background: red;
}

#art-centre-index-view .ready li {
  opacity: 1;
}

#art-centre-index-view li h1 {
  padding: 8px 0 0 0;
  font-size: 1em;
  line-height: 1.3em;
}

#art-centre-index-view li h2 {
  padding: 0;
  color: #979BA0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #art-centre-index-view {
    padding-top: 70px;
  }

  #art-centre-index-view li {
    width: 33.3333333%;
  }

  #art-centre-index-view .title h1 {
    font-size: 3em;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #art-centre-index-view li {
    width: 25%;
    padding-bottom: 42px;
  }

  #art-centre-index-view li {
    width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}