#content-view {
  padding-bottom: 40px;
}

.profiles-view p {
  font-size: 1.2em;
  line-height: 1.2em;
}

.profiles-view h2 {
  color: #F26A61;
}

.profiles-view h3 {
  color: #979BA0;
}

/* PROFILES */
/******************************************/
.profiles-container {
  margin: 0 -10px;
}

.profiles-container .name {
  padding-top: 8px;
  height: 76px;
}

.profiles-container .name h1,
.profiles-container .name h2,
.profiles-container .name h3 {
  font-family: 'helvetica';
  font-weight: bold;
}

.profiles-container .name .highlight {
  text-decoration-color: #000;
  -webkit-text-decoration-color: #000;
}

.profiles-container .padding {
  padding: 0 10px;
}
.profiles-container .padding.no-top-padding {
  padding-top: 0px;
}

.profile-info-container {
  display: none;
}

.profile-info {
  border-top: 2px solid #000;
  margin-top: 32px;
  margin-bottom: 56px;
  position: relative;
  padding: 0;
  color: #000;
}

.profile-info .arrows {
  margin: 0 -10px;
  padding: 0;
}

.profile-info .arrows .arrow {
  padding: 0 10px;
  text-align: center;
}

.profile-info .arrows .arrow:before {
  display: none;
  position: absolute;
  top: -28px;
  margin-left: -14px;
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 28px 14px;
  border-color: transparent transparent #000 transparent;
}

.profile-info .arrows .arrow.fixed-align:before {
  display: inline-block;
}

.profile-info h1, 
.profile-info h2, 
.profile-info h3 {
  font-weight: 700; /* Bold */
  font-size: 2.6em;
  line-height: 1.1em;
}

.profile-info .titles {
  padding-top: 2em;
  padding-bottom: 2em;
}

.profiles-container .image {
  position: relative;
}

.profiles-container .image img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.profiles-container .overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.profiles-container .image:hover .overlay {
  display: block;
}

.profiles-container .image:hover,
.profiles-container .name:hover {
  cursor: pointer;
}

.profiles-container .profile.active .image img,
.profiles-container .image:hover img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.profile-info table {
  margin-top: 3em;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.profile-info th {
  font-family: 'Work Sans', sans-serif;
  padding: 8px 0 16px 0;
  font-size: 1.6em;
  line-height: 1.3em;
  font-weight: 700; /* Bold */
}

.profile-info tr {
  display: table-row;
  margin: initial;
}

.profile-info td {
  width: 50%;
  padding: 8px 0;
  border-top: 2px solid #000;
  vertical-align: top;
}

.profile-info td.title {
  font-weight: bold;
}

.profile-info td:first-child {
  width: 30%;
}

.profile-info td:nth-child(4n) {
  width: 70%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .profiles-view table {
    width: 66.6666%;
  }

  .profiles-view p {
    font-size: 1.8em;
    width: 66.6666%;
  }

  .profile-info .arrows .arrow.fixed-align:before {
    display: none;
  }

  .profiles-container .name {
    padding-top: 12px;
    height: 86px;
  }

  .profile-info-container.left-align .profile-info .arrows .arrow.left-align:before {
    display: inline-block;
  }

  .profile-info-container.middle-align .profile-info .arrows .arrow.middle-align:before {
    display: inline-block;
  }

  .profile-info-container.right-align .profile-info .arrows .arrow.right-align:before {
    display: inline-block;
  }

  .profile-info .titles {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .profile-info h1, 
  .profile-info h2, 
  .profile-info h3 {
    font-size: 4.4em;
  }

  .profile-info td {
    font-size: 1.4em;
    line-height: 1.3em;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}