body {
  background: #f6cec3;
}

#menu-view {
  background: #f6cec3;
}

#journal-view {
  min-height: 800px;
  padding-top: 36px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #journal-view {
    padding-top: 36px;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}