/* PREROLL VIEW */
/******************************************/
#preroll-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #C1BAA4;
}

#preroll-view.hide {
  display: none;
}

#preroll-view.blur {
  opacity: 0;
  transition: all 0.5s linear;
}

#preroll-view .brandContainer {
  position: relative;
  height: 100%;
  top: 50%;
  margin-top: -45px;
  text-align: center;
}

#preroll-view .brandContainer .brand {
  position: relative;
  top: 100px;
  opacity: 0;
  transition: all 1s ease-out;
}

#preroll-view .brandContainer .brand.moveOn {
  top: 0;          
}

#preroll-view .brandContainer .brand.focus {
  opacity: 1;
}

#menu-line-break {
  display: none;
}

/* HERO VIEW */
/******************************************/
#hero-view {
  display: none;
  position: relative;
  background: #000;
  min-height: 500px;
}

#hero-view .video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hero-view .video-container video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

#hero-view .title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 104px 16px 0 16px;
}

#hero-view .title h1 {
  color: #FFF;
  font-size: 3.4em;
  line-height: 1.1em;
}

#hero-view .nav-down {
  position: absolute;
  left: 16px;
  bottom: 30px;
}

/* MESSAGE VIEW */
/******************************************/
#message-view {
  padding-top: 34px;
  padding-bottom: 96px;
  font-size: 1.8em;
  line-height: 1.2em;
  color: #FFF;
  background: #F26A61;
}

/* MAP VIEW */
/******************************************/
#map-view .title {
  padding-top: 64px;
}

#browse-view {
  padding-top: 38px;
  padding-bottom: 48px;
}

/* WHO WE ARE VIEW */
/******************************************/
#who-we-are-view {
  padding-top: 62px;
  padding-bottom: 70px;
  background: #eaecec;
}

#who-we-are-view .text {
  vertical-align: top;
}

#who-we-are-view .image {
  position: relative;
  vertical-align: top;
  padding: 42px 0 0 0;
}

#who-we-are-view .image img {
  width: 100%;
}

#who-we-are-view .nav {
  padding-top: 20px;
}

#who-we-are-view h1 {
  padding: 0 0 32px 0;
  font-size: 3em;
  line-height: 1.1em;
}

#who-we-are-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* WHAT WE DO VIEW */
/******************************************/
#what-we-do-view {
  padding: 62px 16px 70px 16px;
  background: #fff;
}

#what-we-do-view .text {
  vertical-align: top;
}

#what-we-do-view .image {
  position: relative;
  vertical-align: top;
  padding: 42px 0 0 0;
}

#what-we-do-view .image img {
  width: 100%;
}

#what-we-do-view .nav {
  padding-top: 20px;
}

#what-we-do-view h1 {
  padding: 0 0 32px 0;
  font-size: 5.2em;
  line-height: 1.1em;
}

#what-we-do-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

#what-we-do-view tr {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

#what-we-do-view td {
  width: 50%;
  padding: 8px 12px 22px 12px;
  font-size: 1em;
}

#what-we-do-view td h1 {
  border-top: 1px solid #979BA0;  
  padding: 8px 0 10px 0;
  font-size: 1.25em;
}

#what-we-do-view td p {
  font-size: 1em;
}

/* IMAGE VIEW */
/******************************************/
.image-view img {
  width: 100%;
}

.image .parallax-window {
  min-height: 400px;
  background: transparent;
}

/* FEATURED PROJECTS VIEW */
/******************************************/
#featured-projects-view {
  padding-top: 62px;
  padding-bottom: 70px;
  background: #fff;
}

#featured-projects-view .title {
  padding-bottom: 34px;
}

#featured-projects-view .title h1 {
  font-size: 3em;
}

#featured-projects-view .text {
  vertical-align: top;
}

#featured-projects-view .image {
  position: relative;
  vertical-align: top;
  padding: 42px 0 0 0;
}

#featured-projects-view .image img {
  width: 100%;
}

#featured-projects-view .nav {
  padding-top: 20px;
}

#featured-projects-view p.nav {
  font-size: 1.4em;
  line-height: 1.2em;
}

#featured-projects-view h1 {
  padding: 0 0 32px 0;
  font-size: 2.6em;
  line-height: 1.1em;
}

#featured-projects-view p {
  font-size: 1.2em;
  line-height: 1.3em;
}

#featured-projects-view .projects {
  border-bottom: 1px solid #000;
}

#featured-projects-view .project {
  padding: 28px 0 28px 0;
  border-top: 1px solid #000;
}

/* KEEP UP VIEW */
/******************************************/
#keep-up-view {
  padding-top: 68px;
  padding-bottom: 76px;  
  background: #eaecec;
}

#keep-up-view .has-error .help-block {
  color: #000;
}

#keep-up-view .text {
  padding: 0 44px 0 0;
  vertical-align: top;
}

#keep-up-view .image {
  position: relative;
  vertical-align: top;
  padding: 76px 0 0 0;
}

#keep-up-view .image img {
  width: 100%;
}

#keep-up-view .nav {
  padding: 20px 0 20px 0;
}

#keep-up-view h1 {
  padding: 0 0 44px 0;
  font-size: 5.2em;
  line-height: 1.1em;
}

#keep-up-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

#keep-up-view form {
  padding-top: 30px;
}

#keep-up-view form .btn {
  margin-top: 14px;
}

/* HELP US VIEW */
/******************************************/
#help-us-view {
  padding-top: 68px;
  padding-bottom: 76px;
  background: #fff;
}

#help-us-view .text {
  vertical-align: top;
}

#help-us-view .image {
  position: relative;
  vertical-align: top;
  padding: 42px 0 0 0;
}

#help-us-view .image img {
  width: 100%;
}

#help-us-view h1 {
  padding: 0 0 44px 0;
  font-size: 5.2em;
  line-height: 1.1em;
}

#help-us-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .standard-view {
    margin-left: 86px;
    margin-right: 86px; 
  }

  #hero-view {
    min-height: 642px;
  }

  #hero-view .title {
    padding: 160px 30px 0 30px;
  }

  #hero-view .title h1 {
    font-size: 6.4em;
    line-height: 1em;
  }

  #hero-view .nav-down {
    left: 30px;
  }

  #message-view {
    font-size: 3em;
  }

  #message-view .standard-view {
    margin-left: 30px;
    margin-right: 30px;
  }

  #map-view .title {
    padding-top: 94px;
  }

  #browse-view {
    padding-top: 92px;
    padding-bottom: 92px;
  }

  #who-we-are-view {  
    padding-top: 98px;
    padding-bottom: 98px;
  }

  #who-we-are-view .text {  
    padding-right: 46px;
    display: inline-block;
    width: 50%;
  }

  #who-we-are-view .image {  
    padding: 42px 0 0 0;
    display: inline-block;
    width: 50%;
  }

  #what-we-do-view h1 {
    font-size: 5.2em;
    line-height: 1em;
  }

  #what-we-do-view {  
    padding: 98px 0 98px 0;
  }

  #what-we-do-view .image {  
    padding: 72px 0 0 0;
    display: inline-block;
    width: 50%;
  }

  #what-we-do-view .text {  
    padding-left: 46px;
    display: inline-block;
    width: 50%;
  }

  #what-we-do-view ul li {
    width: 50%;
  }

  #featured-projects-view {  
    padding-top: 98px;
    padding-bottom: 98px;
  }

  #featured-projects-view .title {
    padding-bottom: 0;
  }

  #featured-projects-view .image {  
    padding: 20px 0 0 0;
    display: inline-block;
    width: 50%;
  }

  #featured-projects-view .text {  
    padding: 0 0 0 68px;
    display: inline-block;
    width: 50%;
  }

  #featured-projects-view .project:nth-child(even) .text {
    padding: 0 68px 0 0;
  }

  #keep-up-view {  
    padding-top: 98px;
    padding-bottom: 98px;
  }

  #keep-up-view h1 {
    font-size: 5.2em;
    line-height: 1em;
  }

  #keep-up-view .keep-up-view-container {  
    padding-left: 0px;
    padding-right: 0px;
  }

  #keep-up-view .image {  
    padding: 50px 0 0 0;
    display: inline-block;
    width: 50%;
  }

  #keep-up-view .text {  
    padding: 0 80px 0 46px;
    display: inline-block;
    width: 50%;
  }

  #keep-up-view form .field {
    width: 244px;
  }

  #help-us-view {  
    padding-top: 98px;
    padding-bottom: 98px;
  }

  #help-us-view h1 {
    font-size: 5.2em;    
    line-height: 1em;
  }

  #help-us-view .help-us-view-container {  
    padding-left: 80px;
    padding-right: 80px;
  }

  #help-us-view .image {  
    padding: 0;
    display: inline-block;
    width: 50%;
  }

  #help-us-view .text {  
    padding: 68px 46px 0 0;
    display: inline-block;
    width: 50%;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #hero-view .title h1 {
    font-size: 6.4em;
  }

  #message-view {
    padding-top: 28px;
    padding-bottom: 168px;
    font-size: 3em;
  }

  #message-view .standard-view {
    width: 640px;
  }

  #who-we-are-view .text {  
    padding-top: 30px;
    padding-right: 104px;
  }

  #who-we-are-view .image {  
    padding: 0;
  }

  #what-we-do-view .image {  
    padding-top: 24px;
  }

  #what-we-do-view .text {  
    padding-left: 104px;
  }

  #what-we-do-view ul li {
    width: 50%;
  }

  #featured-projects-view .text {  
    padding: 0 0 0 104px;
  }

  #featured-projects-view .project:nth-child(even) .text {
    padding: 0 104px 0 0;
  }

  #keep-up-view .image {  
    padding: 0;
  }

  #keep-up-view .text {  
    padding-left: 92px;
  }

  #keep-up-view form .field {
    display: block;
  }

  #keep-up-view form .btn {
    margin-top: 14px;
  }

  #help-us-view .image {  
    padding: 0;
  }

  #help-us-view .text {  
    padding: 90px 144px 0 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .standard-view {
    margin: 0 auto;
  }

  #message-view .standard-view {
    margin-left: 30px;
    margin-right: 30px;
  }

  #who-we-are-view .who-we-are-view-container {  
    width: 988px;
  }

  #who-we-are-view .text {  
    padding-top: 50px;
    padding-right: 114px;
  }

  #who-we-are-view .image {  
    padding: 0;
  }

  #what-we-do-view .what-we-do-view-container {  
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    width: 988px;
  }

  #what-we-do-view .image {  
    padding-top: 0;
  }

  #what-we-do-view .text {  
    padding-top: 50px;
    padding-left: 104px;
  }

  #what-we-do-view td {
    width: 33.33333%;
  }

  #featured-projects-view .image {  
    padding-top: 0;
  }

  #featured-projects-view .text {  
    padding: 70px 0 0 84px;
  }

  #featured-projects-view .project:nth-child(even) .text {
    padding: 70px 84px 0 0;
  }

  #keep-up-view .keep-up-view-container {  
    width: 988px;
  }

  #keep-up-view .image {  
    padding: 0;
  }

  #keep-up-view .text {  
    padding-top: 70px;
    padding-left: 114px;
    padding-right: 0;
  }

  #keep-up-view form .field {
    display: inline-block;
  }

  #keep-up-view form .btn {
    margin-top: 0;
    margin-left: 10px;
  }

  #help-us-view .image {  
    padding: 0;
  }

  #help-us-view .text {  
    padding: 112px 144px 0 0;
  }
}