/* PAGE VIEW */
/******************************************/
#page-view {
  overflow: hidden;
}

#content-view {
  padding-bottom: 40px;
}

.standard-view {
  margin-left: 16px;
  margin-right: 16px;
}

/* INTRO VIEW */
/******************************************/
#intro-view {
}

#intro-view h1 {
  padding: 16px 0 46px 0;
  font-size: 3.2em;
  line-height: 1.1em;
}

#intro-view .text {
  padding: 10px 0 50px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#intro-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* ABOUT VIEW */
/******************************************/
#about-view {
  margin-top: 46px;
  margin-bottom: 46px;
}

#about-view.top-break {
  border-top: 2px solid #000;
}

#about-view h1 {
  padding: 8px 0 14px 0;
  font-size: 1.6em;
}

#about-view p,
#about-view ul,
#about-view ol,
#about-view td {
  font-size: 1.2em;
  line-height: 1.2em;
}

#about-view td h1 {
  border-top: 2px solid #979BA0;  
  padding: 8px 0 10px 0;
  font-size: 1.25em;
}

#about-view ul,
#about-view ol {
  padding-bottom: 10px;
}

#about-view ol {
  padding-left: 16px; 
}

#about-view .vision {
  font-size: 1.8em;
  color: #F26A61;
}

#about-view ul {
}

#about-view ul li {
  padding-left: 19px;
}

#about-view ul li:before {
  margin-left: -19px;
  content: "— ";
}

#about-view table {
  margin-top: 28px;
}

#about-view tr {
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;  
}

#about-view td {
  padding: 8px 12px 18px 12px;
  width: 50%;
}

#about-view .quote {      
  margin: 54px 0 20px 15%;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #F26A61;
}

#about-view .quote:before {
  margin-left: -11px;
  content: "“ ";
}

#about-view .quote:after {
  content: "”";
}

#about-view .quote-credit {
  margin: 0 0 0 15%;
  font-size: 1.2em;
  line-height: 1.2em;
  color: #F26A61;
}

#about-view .feature-view {
  border-top: 2px solid #000;  
}

/* GALLERY VIEW */
/******************************************/
#gallery-view {
  margin-top: 46px;
  margin-bottom: 46px;
}

#gallery-view .image {
  margin-top: 24px;
}

/* IMAGE VIEW */
/******************************************/
#image-view {
}

/* BROWSE VIEW */
/******************************************/
#browse-view {
  display: none;
  padding-top: 14px;
  padding-bottom: 48px;
}

#browse-view .browse-container-view {
  position: relative;
}

#browse-view .browse-container-view .title {
  position: absolute;
  top: -36px;
}

#browse-view h1 {
  padding: 6px 0 0 0;
}

#browse-view h2 {
  padding: 0;
  color: #979BA0;
}

#browse-view .slick-container-view {
  margin: 0 -10px;  
}

#browse-view .nav-view {
  padding: 0 16px 16px 0;
  text-align: right;
  color: #979BA0;
}

#browse-view .nav-view a:hover {
  opacity: 0.6;
}

#browse-view .nav-view .nav-left {
  padding-left: 20px;
}

#browse-view .nav-view .nav-right {
  padding-left: 12px;
}

#browse-view .nav-view span:hover {
  cursor: pointer;
}

#browse-view .nav-view span:hover path,
#browse-view .nav-view span:hover polyline {
  opacity: 0.6;
}

#browse-view .slick-slide {
  margin: 0 10px;
}

#browse-view .image-holder {
  position: relative;
  margin-bottom: 4px;
}

#browse-view .image-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F0A693;
  background-blend-mode: multiply;  
}

#browse-view img {
  max-width: 100%;
}

#browse-view a:hover .image-overlay {
  display: block;
}

#browse-view a:hover h1,
#browse-view a:hover h2 {
  opacity: 0.6;
}

/* MAP */
/******************************************/
.mapboxgl-ctrl-bottom-left {
  bottom: 16px;
  left: 16px;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.marker {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f2685f;
}

.mapboxgl-ctrl-group,
.map-popup .mapboxgl-popup-content {
  border-radius: 0;
}

.map-popup h2 {
  padding: 0 0 8px 0;
  color: #979BA0;  
}

.map-popup img {
  width: 100%;
}

/* MAP VIEW */
/******************************************/
#map-view .maps {
  position: relative;
}

#map-view .title {
  padding: 46px 16px 30px 16px;
}

#map-view .title h1 {
  color: #000;
  font-size: 1.8em;
  line-height: 1.1em;
}

#map-view #main-map {
  width: 100%;
  height: 500px;
}

#map-view #mini-map {
  display: none;
  position: absolute;
  top: 128px;
  left: 16px;
  width: 154px;
  height: 154px;
}

#map-view #map-key-ctrl {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  border-radius: 50%;
  color: #FFF;
  background: #000;  
}

#map-view #map-key-ctrl:hover {
  cursor: pointer;
}

#map-view #map-key-ctrl .key h1 {
  font-size: 0.9em;
  line-height: 40px;
  text-transform: uppercase;
}

#map-view #map-key-ctrl .key-close {
  display: none;
  font-size: 2em;
}

#map-view #map-key-ctrl.active .key {
  display: none;
}

#map-view #map-key-ctrl.active .key-close {
  display: inline-block;
}

#map-view #map-key {
  display: none;
  position: absolute;
  bottom: 26px;
  right: 32px;
  background: #FFF;
}

#map-view #map-key ul {
  padding: 14px;
}

#map-view #map-key ul li {
  padding: 4px 0;
}

#map-view #map-key .key-title {
  vertical-align: top;
  padding-left: 10px;
}

#map-view #map-key .key-colour {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;  
  background: #000;
}

#map-view #map-key h1 {
  position: relative;
  top: -4px;
  display: inline-block;
  font-size: 1.1em;
}

/* DOWNLOADS VIEW */
/******************************************/
#downloads-view {
  padding-top: 48px;
  padding-bottom: 78px;
}

#downloads-view h1 {
  padding: 10px 0 20px 0;
  border-top: 2px solid #000;
  font-size: 1.6em;
  line-height: 1.1em;
}

#downloads-view ul {
  border-bottom: 2px solid #000;
}

#downloads-view ul li {
  padding: 12px 0;
  border-top: 2px solid #000;
}

#downloads-view li .details {
  display: inline-block;
  width: 90%;
}

#downloads-view li .download {
  font-size: 1.1em;
}

#downloads-view li .size {
  padding-left: 4px;
  font-size: 0.8em;
}

#downloads-view li .icon {
  display: inline-block;
  width: 10%;
  text-align: right;
}

/* JOURNAL VIEW */
/******************************************/
#journal-view {
  padding-top: 52px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #intro-view .text {
    padding-top: 32px;
  }

  #intro-view h1 {
    font-size: 7.2em;  
    line-height: 1em;
  }

  #intro-view p {
    font-size: 1.8em;
  }

  #about-view h1 {
    font-size: 1.8em;
  }

  #about-view p,
  #about-view ul,
  #about-view ol {
    font-size: 1.8em;
  }

  #about-view td {
    font-size: 1.4em;
  }

  #about-view ul li {
    padding-left: 29px;
  }

  #about-view ul li:before {
    margin-left: -29px;
  }

  #about-view .vision {
    font-size: 3.7em;
  }

  #about-view .footnote {
    font-size: 1.4em;
    line-height: 1.2em;
    color: #979BA0;
  }

  #about-view .quote {      
    margin-left: 40%; 
    font-size: 2em;
  }

  #about-view .quote-credit {
    margin-left: 40%; 
  }

  #about-view ol {
    padding-left: 19px; 
  }

  #gallery-view .image {
    margin-top: 82px;
  }

  #browse-view {
    padding-top: 44px;
    padding-bottom: 92px;
  }

  #browse-view h1, 
  #browse-view h2 {
    font-size: 1.1em;
  }

  #browse-view .nav-view {
    padding-right: 30px;
    font-size: 1.4em;
  }

  #browse-view .nav-view .nav-left {
    padding-left: 128px;
  }

  #browse-view .browse-container-view .title {
    font-size: 1.4em;
  }

  #browse-view .slick-container-view {
    width: 150%;  
  }

  #map-view .title {
    padding: 50px 30px 30px 30px;
  }

  #map-view .title h1 {
    font-size: 3em;
  }

  #map-view #main-map {
    width: 100%;
    height: 632px;
  }

  #map-view #mini-map {
    display: block;
  }

  #downloads-view h1 {
    padding-bottom: 0;
  }
  
  #downloads-view ul {
    margin-left: 60%;
  }

  #downloads-view li .download {
    font-size: 1.4em;
  }

  #downloads-view li:first-child {
    border-top: none;
    padding-top: 0;
  }

  #downloads-view li .size {
    font-size: 1.1em;
  }

  #image-view .image.right-margin {
    margin-right: 33.3333%;
  }

  #image-view .image.right-margin-small {
    margin-right: 10%;
  }

  .image .credit.under  {
    width: 66.666666%;
  }

  .standard-view {
    margin-left: 30px;
    margin-right: 30px; 
  }

  #about-view td {
    width: 25%;
  }

  #journal-view {
    padding-top: 144px;
  }  
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  .limit-width h1,
  .limit-width p,
  .limit-width table,
  .limit-width ul,
  .limit-width ol {
    width: 65%;
  }

  .push-right h1,
  .push-right p,
  .push-right ul,
  .push-right ol {
    margin-left: 50%;
    width: auto;
  }

  #image-view .image.limit-width {
    width: 90%;
  }    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .standard-view {
    margin: 0 auto;
    width: 1142px;
  }

  #browse-view .browse-container-view {
    width: 988px;
  }

  #browse-view .slick-container-view {
    width: 200%;  
  }  
}
