#content-view {
  padding-bottom: 40px;
}

/* PROJECTS VIEW */
/******************************************/
#projects-view {
  padding-top: 48px;
  padding-bottom: 78px;
}

#projects-view h1 {
  padding: 10px 0 20px 0;
  border-top: 2px solid #000;
  font-size: 1.6em;
  line-height: 1.1em;
  font-weight: 700; /* Bold */
}

#projects-view ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

#projects-view li {
  width: 100%;
  padding: 0 10px 22px 10px;
}

#projects-view li .image-holder {
  position: relative;
}

#projects-view li .image-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #F0A693;
  background-blend-mode: multiply;  
}

#projects-view img {
  max-width: 100%;
}

#projects-view  a:hover .image-overlay {
  display: block;
}

#projects-view ul li h1 {
  border: none;
  padding: 8px 0 0 0;
  font-family: 'helvetica';
  font-weight: bold;    
  font-size: 1em;
  line-height: 1.3em;
}

#projects-view a:hover h1 {
  opacity: 0.6;  
}

#projects-view a,
#projects-view a:hover,
#projects-view a:active,
#projects-view a:visited {
  color: inherit;
  text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #projects-view li {
    width: 50%;
  }

  #projects-view h1 {
    font-size: 2.2em;
  }

  #image-view .image.format-left {
    margin-right: 25%;
  }
  
  #image-view .image.format-right {
    margin-left: 25%;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}