/* INTRO VIEW */
/******************************************/
#intro-view {
  border-top: 2px solid #000;
}

#intro-view h1 {
  padding: 16px 0 46px 0;
  font-size: 3.2em;
  line-height: 1.1em;
}

#intro-view .text {
  padding: 10px 0 50px 0;
  border-bottom: 2px solid #000;
}

#intro-view p {
  font-size: 1.4em;
  line-height: 1.2em;
}

/* ABOUT VIEW */
/******************************************/
#about-view {
  margin-top: 46px;
  margin-bottom: 46px;
  border-top: 2px solid #000;
}

#about-view h1 {
  padding: 8px 0 14px 0;
  font-size: 1.6em;
}

#about-view p,
#about-view ul,
#about-view ol {
  font-size: 1.2em;
  line-height: 1.2em;
}

#about-view ol {
  padding-left: 16px; 
}

#about-view .vision {
  font-size: 1.8em;
  color: #F26A61;
}

#about-view ul {
}

#about-view ul li {
  padding-left: 19px;
}

#about-view ul li:before {
  margin-left: -19px;
  content: "— ";
}

/* IMAGE VIEW */
/******************************************/
#image-view {
}

/* JOURNAL VIEW */
/******************************************/
#journal-view {
  padding-top: 52px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #intro-view h1 {
    font-size: 7.2em;  
    line-height: 1em;
  }

  #about-view h1 {
    font-size: 1.8em;
  }

  #about-view p,
  #about-view ul,
  #about-view ol {
    font-size: 1.8em;
  }

  #about-view ul li {
    padding-left: 29px;
  }

  #about-view ul li:before {
    margin-left: -29px;
  }

  #about-view .vision {
    font-size: 3.7em;
  }

  #about-view .footnote {
    font-size: 1.4em;
    line-height: 1.2em;
    color: #979BA0;
  }

  #about-view ol {
    padding-left: 19px; 
  }

  #journal-view {
    padding-top: 144px;
  }  
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  #image-view .image.limit {
    width: 90%;
  }  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}